# Цель работы

Изучение связи между признаками двумерного набора данных, визуализация данных.
# Вариант задания

Вариант №9.

Набор данных: visits2.csv.

Данные пользовательских сессии магазина:
1. уникальный идентификатор пользователя;
2. страна пользователя;
3. устройство пользователя;
4. идентификатор рекламного источника, из которого пришел пользователь;
5. дата и время начала сессии;
6. дата и время окончания сессии;
7. время сессии в минутах;
8. кол-во кликов пользователя;
9. количество товаров в корзине;
10. стоимость покупок;
11. возраст пользователя.
# Ход выполнения работы
### 1. Чтение файла

Перед началом работы необходимо прочитать таблицу и преобразовать в датафрейм. Для этого была подключена библиотека Pandas, с помощью которой воспроизводилось чтение файла. Также были подключены библиотеки matplotlib и seaborn. Они необходимы для построения гистограмм.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('./visits2.csv')

### Обзор данных

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 954 entries, 0 to 953
Data columns (total 1 columns):
 #   Column                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                 --------------  -----
 0   user_id ;region;device;channel;session_start;session_end;time_session;click_count;buy_count;price;age  954 non-null    object
dtypes: object(1)
memory usage: 7.6+ KB

In [6]:
df.head(20)

   user_id ;region;device;channel;session_start;session_end;time_session;click_count;buy_count;price;age
0   278965908054;United States;iPhone;organic;01.0...
1   244878945432;United States;Mac;organic;01.05.2...
2   590706206550;United States;Mac;organic;01.05.2...
3   326433527971;United States;Android;TipTop;01.0...
4   349773784594;United States;Mac;organic;01.05.2...
5   90242400005;United States;Android;organic;01.0...
6   43958116050;United States;iPhone;organic;01.05...
7   15174034813;United States;Mac;organic;01.05.20...
8   446013509831;United States;iPhone;organic;01.0...
9   100970711362;United States;Mac;FaceBoom;01.05....
10  23110169785;United States;iPhone;organic;01.05...
11  370455852550;United States;iPhone;MediaTornado...
12  784885401335;Russia;iPhone;TipTop;01.05.2019 2...
13  619068889591;Russia;PC;FaceBoom;01.05.2019 20:...
14  774938424092;Russia;Mac;organic;01.05.2019 17:...
15  762505039443;Russia;Android;organic;01.05.2019...
16  355761474010;Russia;iPhone;FaceBoom;01.05.2019...
17  221611265998;Russia;iPhone;organic;01.05.2019 ...
18  57218022811;Russia;iPhone;organic;01.05.2019 1...
19  88533696308;Russia;iPhone;organic;01.05.2019 1...

In [7]:
df.describe()

       user_id ;region;device;channel;session_start;session_end;time_session;click_count;buy_count;price;age
count                                                 954
unique                                                954
top     136097633625;United States;Android;TipTop;04.0...
freq                                                    1